#buttonsType{
    width: 80vw;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#buttonsType > button{
    height: 30px;
    width: 120px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#containerButtons{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#inputBuscador{
    height: 30px;
    width: 350px;
    background-color: var(--primary-color);
    border: 2px solid var(--secundary-color);
    border-radius: 15px;
}

#inputBuscador::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: var(--secundary-color);
    text-align: center;
}

.galleryPokemon{
    width: 100vw;
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.figurePoke{
    height: 300px;
    width: 200px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagePokemon{
    height: 100px;
    width: 100px;
    margin: 25px 0;
}

#pokemon{
    margin-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grass{
    background-color: #8CD750; 
    border: 5px solid #6ABD45;
}

.dark {
    background-color: #5a5366;
    border: 5px solid #41325b;
}

.fire {
    background-color: #FF9C54; 
    border: 5px solid #FF6B35;   
}

.water {
    background-color: #4F96E6;     
    border: 5px solid #2178E3;
}

.bug {
    background-color: #9DC130;
    border: 5px solid #8CB82B;
}

.normal {
    background-color: #A4ACAF;     
    border: 5px solid #747D83;
} 

.poison {
    background-color: #B062A5;
    border: 5px solid #8F3F9E;
} 

.electric {
    background-color: #FFCE4B;
    border: 5px solid #FFA600;
}

.ground {
    background-color: #DBB54D;
    border: 5px solid #B9972F;
}

.fairy {
    background-color: #FF7EE5;
    border: 5px solid #D6248F;
}

.dragon {
    background-color: #365e81;
    border: 5px solid #0a6dc4;
}

.fighting {
    background-color: #d1305e;
    border: 5px solid #8a2c47;
}

.flying {
    background-color: #51b4cd;
    border: 5px solid #2f6c7b;
}

.ghost {
    background-color: #703d8c;
    border: 5px solid #5269ac;
}

.ice {
    background-color: #5de5e5;
    border: 5px solid #4f8f85;
}

.psychic {
    background-color: #834446;
    border: 5px solid #f97176;
}

.rock {
    background-color: #796c4a;
    border: 5px solid #c7b78b;
}

.steel {
    background-color: #406978;
    border: 5px solid #5a8ea1;
}

@media (min-width: 1281px) {
   
}

@media (min-width: 1025px) and (max-width: 1280px) {
   
}

@media (min-width: 768px) and (max-width: 1024px) {
 
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

@media (min-width: 481px) and (max-width: 767px) {
  
}

@media (min-width: 320px) and (max-width: 480px) {
  
}