.contenedor{
    height: 40vh;
    width: 40vh;
    margin: auto;
    background-color: var(--primary-color);
    border-radius: 10px;
    text-align: center;
}

.contenedor > h2{
    margin-top: 30px;
    font-size: 2.5rem;
    color: var(--secundary-color);
}
.contenedorUser{
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorUser > input{
    width: 230px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid var(--secundary-color);
    color: var(--secundary-color);
}

::placeholder{
    color: var(--secundary-color);
}

#buttonLogin{
    height: 30px;
    width: 154px;
    margin-top: 8vh;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    background-color: var(--secundary-color);
}
