footer {
    height: 7vh;
    width: 100vw;
    background-color: var(--background-color);
    border-top: 4px solid var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > h3{
    color: var(--secundary-color);
    font-size: calc(.7em + .7vw);
    
    font-family: 'Roboto', sans-serif;
}
